table {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(14, 13, 13);
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
}
 
table th {
  padding: 15px 35px;
  border-left:1px solid #b77ed5;
  border-bottom: 1px solid #131212;
  background: #b77ed5;
}
 
table th:first-child{  
  border-left:none;  
}
 
table tr {
  text-align: center;
  padding-left: 20px;
}
 
table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
 
table td {
  padding: 15px 35px;
  border-top: 1px solid #e4b3ce;
  border-bottom: 1px solid #e4b3ce;
  border-left: 1px solid #e4b3ce;
  background: #d89ace;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4b3ce), to(#e4b3ce));
  background: -moz-linear-gradient(top, #3f36c5, #e4b3ce);
}
 
table tr:last-child td {
  border-bottom: 0;
}
 
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
 
table tr:hover td {
  background: #e4b3ce;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4b3ce), to(#e4b3ce));
  background: -moz-linear-gradient(top, #e4b3ce, #e4b3ce);
}